<% layout("front/layout") %>
<br><br><br><br>
<div class="container">
  <h2>ŞARTLAR VE KOŞULLAR</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Gizlilik ve Güvenlik</a></li> - 
    <li><a data-toggle="tab" href="#menu1">Kişisel Verilerin İşlenmesi </a></li> - 
    <li><a data-toggle="tab" href="#menu2">Teslimat ve İade Şartları</a></li>
  </ul>



  <div class="tab-content">
    <div id="home" class="tab-pane" style="display: !important block;">
      <h3>Gizlilik ve Güvenlik</h3>
      <p>Gizlilik</p>
		<p>- Dini Akademi.com, &uuml;yelerinden zorunlu olarak alması gereken bilgiler yanında yalnızca, vermeyi hedeflediği en iyi hizmetleri sağlamak amacı ile gerekli olduğunu d&uuml;ş&uuml;nd&uuml;ğ&uuml;&cedil; bilgileri toplamaktadır. &Uuml;yelerimizden aldığımız kişisel bilgilerin gizliliğini korumak i&ccedil;in diniakademi.com, sistem altyapısı ve internet sunumlarını en g&uuml;venilir seviyede tutmaktadır.</p>
		<p>- Site sayfalarını, şahsi herhangi bir bilgi vermeden ziyaret edebilir, hizmetlerimiz hakkında bilgi alabilir, sunulan raporlarımızı okuyabilir ve diğer detaylı hizmetlerimizden yararlanabilirsiniz.</p>
		<p>- Size &ouml;zel bilgilerinizi vermeniz durumunda, bu bilgiler, sizin haberiniz veya onayınız olmadan ya da yasal y&uuml;k&uuml;ml&uuml;l&uuml;k altında bulunmadığı s&uuml;rece &uuml;&ccedil;&uuml;nc&uuml; bir şahıs veya firma ile paylaşılmayacaktır. Bu bilgiler, en y&uuml;ksek g&uuml;venlik ve gizlilik standartlarımızla korunacaktır.</p>
		<p>-Sitemizdeki bilgiler, y&uuml;r&uuml;rl&uuml;kteki mevzuatlara uygun sekilde hazırlanmış olup mevzuat ve uygulamada olabilecek değişiklikler s&ouml;z konusu bilgilerin doğruluğunu etkileyebilecektir.</p>
		<p>-Sitemizin kullanımı sırasında oluşabilecek herhangi bir hata, kesinti, bilgi naklinde gecikme, bilgisayar vir&uuml;s&uuml;, hat ve/veya sistem arızası sonucunda ortaya &ccedil;ıkabilecek doğrudan veya dolaylı zarar ve masraflardan diniakademi.com sorumlu değildir.</p>
		<p>- diniakademi.com &uuml;&ccedil;&uuml;nc&uuml; şahıslar tarafından idare edilen internet sitelerine bağlantılar ve y&ouml;nlendiriciler sağlamaktadır. Dini Akademi.com, bu sitelerin i&ccedil;eriklerini denetlememekte ve bu sitelerin kullanımından doğabilecek her t&uuml;rl&uuml;&cedil; zararlara karşı Dini Akademi.com tarafından hi&ccedil;bir garanti verilmemektedir.</p>
		<p>-Sitemizde yer alan bilgi, materyal ve bunların d&uuml;zenlenmesi konusundaki telif hakları, Dini Akademi.com'a aittir. Sitemizin i&ccedil;erdigi bilgi ve materyallere dair t&uuml;m telif hakları, tescilli marka, patent, entelekt&uuml;el ve diğer m&uuml;lkiyet hakları kurumumuzda saklıdır. Herhangi bir kişi/kuruluş, &ouml;nceden kurumun yazılı iznini almadık&ccedil;a, sitemizin belli bir kısmını başka bir web sitesinde kullanamaz veya sitemize başka bir web sitesinin bağlantısını kuramaz.</p>
		<p>-Sitemizde yer alan her t&uuml;rl&uuml; tablo ve grafikler Dini Akademi.com tarafından genel anlamda bilgi vermek amacıyla hazırlanmıştır. Bu nedenle bu internet sitesinde yer alan bilgilerdeki hatalardan, eksikliklerden ya da bu tablolara dayanılarak yapılan işlemlerden doğacak doğrudan veya dolaylı her t&uuml;rl&uuml; maddi/manevi zararlar ve masraflardan ve her ne şekilde olursa olsun &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğrayabileceği her t&uuml;rl&uuml; zarar ve masraflardan dolayi Dini Akademi.com sorumlu değildir.</p>
		<p>-Dini Akademi.com'u temsil eden bu sayfaya ve/veya Dini Akademi.com internet sitesinin herhangi bir sayfas˝na girerek, yukar˝da bulunan koşullarla bağlı olmayı kabul etmektesiniz. Yukarıda yer alan koşulları kabul etmiyorsanız l&uuml;tfen bu internet sitesini kullanmayınız.</p>
		<p>G&uuml;venlik</p>
		<p>- Dini Akademi.com sitesinde bulunan SSL sertifikası ile bilgilerinizin gizliliği ve g&uuml;venliği sağlanmaktadır.</p>
		<p>- Kredi kartı ile yapacağınız alışverişlerde 3D g&uuml;venli &ouml;deme y&ouml;ntemini kullanarak kart bilgilerinizin g&uuml;venliğini sağlayabilirsiniz.</p>
		<p>- şifrenizi internette başka yerde kullanmayın ve asla başkalarıyla paylaşmayın.</p>
		<p>- Kolay tahmin edilebilecek bir şifre (adınız veya yaygın kelimeler) kullanmayın.</p>
		<p>- G&uuml;venliğinden emin olmadığınız alanlardan (internet cafe vb.) veya 3. kişilere ait bilgisayarlardan giriş yapmayınız.</p>
		<p>- Başkalarıyla paylaştığınız bir bilgisayarı kullandıktan sonra hesabınızdan &ccedil;ıkış yapınız.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Kişisel Verilerin işlenmesine ilişkin Aydinlatma Metni</h3>
		<p>Dini Akademi, internet sitesi kullanicilarimiza ilişkin kişisel veriler bakimindan 6698 sayili Kişisel Verilerin Korunmasi Kanunu kapsaminda &ldquo;veri sorumlusu&rdquo; sifatina sahip olup işbu Aydinlatma Metni ile kullanicilarimiz ilgili kanun ve y&ouml;netmelik uyarinca bilgilendirilmektedir.</p>
		<p>&nbsp;</p>
		<p>Veri Sorumlusu:</p>
		<p>Tek Lider Medya Organizasyon Pazarlama ve Ticaret Limited şirketi</p>
		<p>&nbsp;</p>
		<p>Kişisel Verilerin işlenme Amaci:</p>
		<p>Kullanicilara ait kişisel veriler, Dini Akademi tarafindan sunulan &uuml;r&uuml;n ve hizmetlerden ilgili kişileri faydalandirmak i&ccedil;in gerekli &ccedil;alişmalarin iş birimleri tarafindan yapilmasi ve ilgili iş s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, Dini Akademi tarafindan y&uuml;r&uuml;t&uuml;len ticari faaliyetlerin ger&ccedil;ekleştirilmesi i&ccedil;in ilgili iş birimleri tarafindan gerekli &ccedil;alişmalarin yapilmasi ve buna bağli iş s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, Dini Akademi&rsquo;in ticari ve/veya iş stratejilerinin planlanmasi ve icrasi, Dini Akademi&rsquo;nin ve Dini Akademi ile iş ilişkisi i&ccedil;erisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş g&uuml;venliğinin temini ile Dini Akademi&rsquo;in sunduğu &uuml;r&uuml;n ve hizmetlerin ilgili kişilerin beğeni, kullanim alişkanliklari ve ihtiya&ccedil;larina g&ouml;re &ouml;zelleştirilerek ilgili kişilere &ouml;nerilmesi ve tanitilmasi i&ccedil;in gerekli olan aktivitelerin planlanmasi ve icrasi da dahil olmak &uuml;zere 6698 Sayili Kanun&rsquo;un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartlari ve ama&ccedil;lari &ccedil;er&ccedil;evesinde işlenmektedir.</p>
		<p>&nbsp;</p>
		<p><br />Kişisel Verilerin Aktarimi</p>
		<p>Kullanicilara ait kişisel veriler, Dini Akademi tarafindan sunulan &uuml;r&uuml;n ve hizmetlerden ilgili kişileri faydalandirmak i&ccedil;in gerekli &ccedil;alişmalarin iş birimleri tarafindan yapilmasi ve ilgili iş s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, Dini Akademi tarafindan y&uuml;r&uuml;t&uuml;len ticari faaliyetlerin ger&ccedil;ekleştirilmesi i&ccedil;in ilgili iş birimleri tarafindan gerekli &ccedil;alişmalarin yapilmasi ve buna bağli iş s&uuml;re&ccedil;lerinin y&uuml;r&uuml;t&uuml;lmesi, Dini Akademi&rsquo;in ticari ve/veya iş stratejilerinin planlanmasi ve icrasi, Dini Akademi&rsquo;in ve Dini Akademi ile iş ilişkisi i&ccedil;erisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş g&uuml;venliğinin temini ile Dini Akademi&rsquo;in sunduğu &uuml;r&uuml;n ve hizmetlerin ilgili kişilerin beğeni, kullanim alişkanliklari ve ihtiya&ccedil;larina g&ouml;re &ouml;zelleştirilerek ilgili kişilere &ouml;nerilmesi ve tanitilmasi i&ccedil;in gerekli olan aktivitelerin planlanmasi ve icrasi da dahil olmak &uuml;zere 6698 Kanun&rsquo;un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartlari ve ama&ccedil;lari &ccedil;er&ccedil;evesinde şirket yetkilileri, iş ortaklarimiz, kanunen yetkili kamu kurum ve kuruluşlari ile &ouml;zel kurumlar ile paylaşilabilecektir.</p>
		<p><br />Kullanicilarin Konuya ilişkin Rizasi</p>
		<p>6698 sayili Kanun&rsquo;un 5. Maddesinin 2. fikrasinda sayilan hallerde kişisel verilerin kullanicilarin a&ccedil;ik rizasi aranmaksizin işlenmesi m&uuml;mk&uuml;nd&uuml;r. Buna g&ouml;re,</p>
		<p>a) Kanunlarda a&ccedil;ik&ccedil;a &ouml;ng&ouml;r&uuml;lmesi. b) Fiili imk&acirc;nsizlik nedeniyle rizasini a&ccedil;iklayamayacak durumda bulunan veya rizasina hukuki ge&ccedil;erlilik taninmayan kişinin kendisinin ya da bir başkasinin hayati veya beden b&uuml;t&uuml;nl&uuml;ğ&uuml;n&uuml;n korunmasi i&ccedil;in zorunlu olmasi. c) Bir s&ouml;zleşmenin kurulmasi veya ifasiyla doğrudan doğruya ilgili olmasi kaydiyla, s&ouml;zleşmenin taraflarina ait kişisel verilerin işlenmesinin gerekli olmasi. &ccedil;) Veri sorumlusunun hukuki y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; yerine getirebilmesi i&ccedil;in zorunlu olmasi. d) ilgili kişinin kendisi tarafindan alenileştirilmiş olmasi. e) Bir hakkin tesisi, kullanilmasi veya korunmasi i&ccedil;in veri işlemenin zorunlu olmasi. f) ilgili kişinin temel hak ve &ouml;zg&uuml;rl&uuml;klerine zarar vermemek kaydiyla, veri sorumlusunun meşru menfaatleri i&ccedil;in veri işlenmesinin zorunlu olmasi durumlarinda kullanicilardan a&ccedil;ik riza alinmasina gerek bulunmamaktadir. Kullanicilarin Dini Akademi &uuml;yelik s&ouml;zleşmesi kapsaminda alacaklari hizmet 6698 sayili Kanunun 5. maddesinin 2/c fikrasi kapsaminda yer almaktadir.</p>
		<p>&nbsp;</p>
		<p><br />Kişisel Verilerin Toplanma Y&ouml;ntemi ve Hukuki Sebebi:</p>
		<p>Kişisel veriler, kullanicilardan elektronik ortamda toplanmaktadir. Yukarida belirtilen hukuki sebeplerle toplanan kişisel veriler Kanun&rsquo;un 5. ve 6. maddelerinde ve bu Aydinlatma Metninde belirtilen ama&ccedil;larla işlenebilmekte ve aktarilabilmektedir.</p>
		<p>&nbsp;</p>
		<p>Kişisel Veri Sahibi Olarak Kullanicilarin Haklari:</p>
		<p>6698 sayili Kanun&rsquo;un 11. maddesi uyarinca veri sahipleri;</p>
		<p>. Kendileri ile ilgili kişisel veri işlenip işlenmediğini &ouml;ğrenme,</p>
		<p>. Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</p>
		<p>. Kişisel verilerin işlenme amacini ve bunlarin amacina uygun kullanilip kullanilmadiğini &ouml;ğrenme,</p>
		<p>. Yurt i&ccedil;inde veya yurt dişinda kişisel verilerin aktarildiği &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</p>
		<p>. Kişisel verilerin eksik veya yanliş işlenmiş olmasi h&acirc;linde bunlarin d&uuml;zeltilmesini isteme ve bu kapsamda yapilan işlemin kişisel verilerin aktarildiği &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</p>
		<p>. Kanun ve ilgili diğer kanun h&uuml;k&uuml;mlerine uygun olarak işlenmiş olmasina rağmen, işlenmesini gerektiren sebeplerin ortadan kalkmasi h&acirc;linde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapilan işlemin kişisel verilerin aktarildiği &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme,</p>
		<p>. işlenen verilerin m&uuml;nhasiran otomatik sistemler vasitasiyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya &ccedil;ikmasina itiraz etme ve</p>
		<p>. Kişisel verilerin kanuna aykiri olarak işlenmesi sebebiyle zarara uğramasi h&acirc;linde zararin giderilmesini talep etme haklarina sahiptir.</p>
		<p>S&ouml;z konusu haklarin kullanimina ilişkin talepler, kişisel veri sahipleri tarafindan iletişim sayfamizda yer alan mail adresimiz veya &ccedil;ağri merkezimiz araciliğiyla Dini Akademi&rsquo;e bildirilebilir. Dini Akademi, konuya ilişkin taleplerinizi değerlendirerek 30 g&uuml;n i&ccedil;erisinde sonu&ccedil;landiracaktir.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
    	<h3>Teslimat Ve İade Şartları</h3>
		<p>Teslimat Şartları<br />&Uuml;r&uuml;n&uuml;n teslimatı i&ccedil;in s&ouml;zleşmenin imzalı n&uuml;shasının SATICI&rsquo;ya ulaştırılmı&thorn; olması ve bedelinin ALICI&rsquo;nın tercih ettiği &ouml;deme &thorn;ekli ile &ouml;denmi&thorn; olması &thorn;arttır. Herhangi bir nedenle &uuml;r&uuml;n bedeli &ouml;denmez veya banka kayıtlarında iptal edilir ise, SATICI &uuml;r&uuml;n&uuml;n teslimi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;nden kurtulmu&thorn; kabul edilir.</p>
		<p>İade Ve İptal Şartları<br />Satın aldığınız Canlı Ders &uuml;r&uuml;n&uuml;, online olarak teslim aldığınız g&uuml;nden itibaren 7 g&uuml;n i&ccedil;inde diniakademi.com adresine ba&thorn;vuruda bulunarak a&thorn;ağıdaki ko&thorn;ullar dahilinde cayma hakkınızı kullanabilirsiniz.<br />&Uuml;r&uuml;n Bedelinin %15&rsquo;i + (&Uuml;r&uuml;n Bedeli / Toplam Ders Saati) * işlenilen Ders Saati kadar &uuml;cretin iade ya da iptal işlemi yapılamaz. Kalan tutarın iade ya da iptali yapılarak belirtilen hesaba aktarılır.<br />Satın aldığınız Video Ders &uuml;r&uuml;n&uuml; i&ccedil;in iade yapılmamaktadır.</p>
    </div>

  </div>
</div>
<br><br><br><br>

