<% layout("layout") %>

<main>
		<section id="hero_in" class="general">
			<div class="wrapper">
				<div class="container">
					<h1 class="fadeInUp"><span></span><%= title %></h1>
				</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Dini Akademi Hakkında</h2>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-4 wow" data-wow-offset="150">
						<figure class="block-reveal">
							<div class="block-horizzontal"></div>
							<img src="../../dini-akademi-logo.png" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-7">
						<h3>Vizyonumuz</h3>
						<p>Dini Akademi ailesi olarak, ülkemizin her yerindeki bireylere kaliteli eğitimi üstün teknoloji ve profesyonel bir kadro ile ulaştırmayı hedeflemekteyiz. Kendini geliştirmek isteyen ve sınavlara hazırlanan her öğrencinin zorlu sürecini basitleştirerek; mekan ve zaman kavramlarından bağımsız, kişiye özel interaktif eğitim hizmeti ile kısa sürede Türkiye'de dini alanda online eğitim veren enlerden olmayı amaçlamaktayız. Eğitimde Fırsat Eşitliği’ni en pratik ve ekonomik koşullarla hazırlayarak kolay ve kalıcı öğrenmeyi üretmeyi ve bu eğitimlere ihtiyacı olan herkese sunmayı planlamaktayız.
</p>
						<h3>Misyonumuz</h3>
						<p>Dünya standartlarının üzerindeki teknoloji ile eğitimi birleştirerek ve en iyilerle çalışma ilkemizden taviz vermeyerek ulusal ve uluslararası uzaktan eğitim projelerinin dünya çapında öncüsü olmak ve her yaşta bireye profesyonel eğitim imkanı sunmak yakın tarihli en büyük hedefimizdir.
</p>	
						<h3>Değerlerimiz</h3>

						<li>Akılcı ve yenilikçi bakış açısını tüm çalışmalarımızda temel ilke belirlemek, </li>
						<li>En iyi eğitimci, en iyi personel, en iyi teknoloji ve en iyi eğitim içeriklerinden asla taviz vermemek </li>
						<li>Zaman ve mekan kavramlarını yok sayarak herkese  eşit ve tarafsız eğitim imkanı sunmak </li>
						<li>Ulusal,Kültürel ve Sosyal değerlere önem vermek </li>
						<li>Uluslararası teknoloji gelişimini yakından takip etmek ve ulusal eğitimlerimizde uygulamak </li>
						<li>Ülkemizin eğitim seviyesini hiçbir ayrım gözetmeden sürekli ileriye taşımak </li>
						<li>Güven,saygı, itibar, ahlak, dürüstlük, disiplin, azim, dayanışma, insan odaklılık ve adalet kavramlarından hiçbir şekilde vazgeçmeyerek daima ileri gitmek </li>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->
	</main>