<% layout("layout") %>

<section class="panel col-md-12">
		<header class="panel-heading">
			<div class="panel-actions">
				<a href="#" class="fa fa-caret-down"></a>
			</div>

			<h2 class="panel-title">Basinda Biz Düzenle</h2>
		</header>
		<div class="panel-body">
			<% if (basin) { -%>
				<form method="post" action="/admin/basinduzenle">
					<input type="hidden" name="basinid" value="<%= basin._id %>">
					<div class="form-group col-md-4">
						<label class="control-label">Başlık : </label>
						<input class="form-control" type="text" name="baslik"  placeholder="Başlık" value="<%= basin.baslik %>">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Link :</label>
						<input type="text" class="form-control" name="link" placeholder="Link" value="<%= basin.link %>">
					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary pull-right">Ekle</button>
					</div>
			</form>
			<% } else { -%>

			<% } -%>
		</div>
	</section>
